In [1]:
import json
import pandas as pd

In [3]:
with open('files/animedataraw.txt', 'r', encoding='utf8') as filehandle:  
    raw = json.load(filehandle)    

with open('files/sequelkeys.txt', 'r', encoding='utf8') as filehandle:  
    sequelkeys = json.load(filehandle)

---

In [6]:
sequeldf = pd.DataFrame(sequelkeys)

In [7]:
len(sequeldf)

22644

In [8]:
sequeldf.head()

   0            1      2
0  1  Adaptation:    173
1  1  Adaptation:    174
2  1  Side story:      5
3  1  Side story:  17205
4  1     Summary:   4037

In [22]:
sequeldf.columns = ['primary', 'type', 'target']
sequeldf.head()

   primary         type  target
0        1  Adaptation:     173
1        1  Adaptation:     174
2        1  Side story:       5
3        1  Side story:   17205
4        1     Summary:    4037

In [19]:
sequeldf.groupby('type').count()

                      primary  target
type
Adaptation:              5107    5107
Alternative setting:      759     759
Alternative version:     1781    1781
Character:                518     518
Full story:               473     473
Other:                   3474    3474
Parent story:            2011    2011
Prequel:                 2826    2826
Sequel:                  2854    2854
Side story:              1776    1776
Spin-off:                 606     606
Summary:                  459     459

In [23]:
sequelanime = sequeldf[sequeldf.type != 'Adaptation:']
len(sequelanime)

17537

In [40]:
x = sequelanime.iloc[0:10]
x

    primary           type  target
2         1    Side story:       5
3         1    Side story:   17205
4         1       Summary:    4037
5         5  Parent story:       1
7         6    Side story:    4106
9         8        Sequel:    1123
11       15    Side story:    1317
12       15    Side story:    6418
14       16    Side story:     644
15       16        Sequel:    1142

In [4]:
len(raw)

15854

In [5]:
maldf = pd.DataFrame(raw)
maldf.head()

,Aired:,Broadcast:,Duration:,English:,Episodes:,Favorites:,Genres:,Japanese:,Licensors:,Members:,...,Ranked:,Rating:,Score:,Source:,Status:,Studios:,Synonyms:,Title,Type:,key
0,"Apr 3, 1998 to Apr 24, 1999",Saturdays at 01:00 (JST),24 min. per ep.,Cowboy Bebop,26,"46,627","Action,Adventure,Comedy,Drama,Sci-Fi,Space",カウボーイビバップ,"Funimation,Bandai Entertainment","864,330",...,#2822\n based on the top anime page. Please...,R - 17+ (violence & profanity),"8.821(scored by435,335users)1\n indicat...",Original,Finished Airing,Sunrise,NaN,Cowboy Bebop,TV,1
1,"Sep 1, 2001",NaN,1 hr. 55 min.,Cowboy Bebop: The Movie,1,849,"Action,Drama,Mystery,Sci-Fi,Space",カウボーイビバップ 天国の扉,Sony Pictures Entertainment,"211,101",...,#15922\n based on the top anime page. Pleas...,R - 17+ (violence & profanity),"8.411(scored by126,733users)1\n indicat...",Original,Finished Airing,Bones,Cowboy Bebop: Knockin' on Heaven's Door,Cowboy Bebop: Tengoku no Tobira,Movie,5
2,"Apr 1, 1998 to Sep 30, 1998",Thursdays at 01:15 (JST),24 min. per ep.,Trigun,26,"10,919","Action,Sci-Fi,Adventure,Comedy,Drama,Shounen",トライガン,"Funimation,Geneon Entertainment USA","434,992",...,#26522\n based on the top anime page. Pleas...,PG-13 - Teens 13 or older,"8.291(scored by222,984users)1\n indicat...",Manga,Finished Airing,Madhouse,NaN,Trigun,TV,6
3,"Jul 2, 2002 to Dec 24, 2002",Tuesdays at Unknown,25 min. per ep.,Witch Hunter Robin,26,548,"Action,Magic,Police,Supernatural,Drama,Mystery",Witch Hunter ROBIN,"Funimation,Bandai Entertainment","82,627",...,#246222\n based on the top anime page. Plea...,PG-13 - Teens 13 or older,"7.321(scored by33,573users)1\n indicate...",Original,Finished Airing,Sunrise,WHR,Witch Hunter Robin,TV,7
4,"Sep 30, 2004 to Sep 29, 2005",Thursdays at 18:30 (JST),23 min. per ep.,Beet the Vandel Buster,52,15,"Adventure,Fantasy,Shounen,Supernatural",冒険王ビィト,"None found,add some","12,055",...,#362722\n based on the top anime page. Plea...,PG - Children,"7.031(scored by4,996users)1\n indicates...",Manga,Finished Airing,Toei Animation,Adventure King Beet,Bouken Ou Beet,TV,8

In [11]:
maldf['key'].is_unique

True

In [5]:
# maldf = maldf.set_index('key')

In [8]:
maldf.head()

,Aired:,Broadcast:,Duration:,English:,Episodes:,Favorites:,Genres:,Japanese:,Licensors:,Members:,...,Producers:,Ranked:,Rating:,Score:,Source:,Status:,Studios:,Synonyms:,Title,Type:
key,,,,,,,,,,,,,,,,,,,,,
1,"Apr 3, 1998 to Apr 24, 1999",Saturdays at 01:00 (JST),24 min. per ep.,Cowboy Bebop,26,"46,627","Action,Adventure,Comedy,Drama,Sci-Fi,Space",カウボーイビバップ,"Funimation,Bandai Entertainment","864,330",...,Bandai Visual,#2822\n based on the top anime page. Please...,R - 17+ (violence & profanity),"8.821(scored by435,335users)1\n indicat...",Original,Finished Airing,Sunrise,NaN,Cowboy Bebop,TV
5,"Sep 1, 2001",NaN,1 hr. 55 min.,Cowboy Bebop: The Movie,1,849,"Action,Drama,Mystery,Sci-Fi,Space",カウボーイビバップ 天国の扉,Sony Pictures Entertainment,"211,101",...,"Sunrise,Bandai Visual",#15922\n based on the top anime page. Pleas...,R - 17+ (violence & profanity),"8.411(scored by126,733users)1\n indicat...",Original,Finished Airing,Bones,Cowboy Bebop: Knockin' on Heaven's Door,Cowboy Bebop: Tengoku no Tobira,Movie
6,"Apr 1, 1998 to Sep 30, 1998",Thursdays at 01:15 (JST),24 min. per ep.,Trigun,26,"10,919","Action,Sci-Fi,Adventure,Comedy,Drama,Shounen",トライガン,"Funimation,Geneon Entertainment USA","434,992",...,Victor Entertainment,#26522\n based on the top anime page. Pleas...,PG-13 - Teens 13 or older,"8.291(scored by222,984users)1\n indicat...",Manga,Finished Airing,Madhouse,NaN,Trigun,TV
7,"Jul 2, 2002 to Dec 24, 2002",Tuesdays at Unknown,25 min. per ep.,Witch Hunter Robin,26,548,"Action,Magic,Police,Supernatural,Drama,Mystery",Witch Hunter ROBIN,"Funimation,Bandai Entertainment","82,627",...,Bandai Visual,#246222\n based on the top anime page. Plea...,PG-13 - Teens 13 or older,"7.321(scored by33,573users)1\n indicate...",Original,Finished Airing,Sunrise,WHR,Witch Hunter Robin,TV
8,"Sep 30, 2004 to Sep 29, 2005",Thursdays at 18:30 (JST),23 min. per ep.,Beet the Vandel Buster,52,15,"Adventure,Fantasy,Shounen,Supernatural",冒険王ビィト,"None found,add some","12,055",...,"TV Tokyo,Dentsu",#362722\n based on the top anime page. Plea...,PG - Children,"7.031(scored by4,996users)1\n indicates...",Manga,Finished Airing,Toei Animation,Adventure King Beet,Bouken Ou Beet,TV

In [9]:
# maldf['Episodes:'] = maldf['Episodes:'].to_numeric()

### Remove colons from column name

In [6]:
maldf.columns = maldf.columns.str.replace(':', '')
maldf.columns

Index(['Aired', 'Broadcast', 'Duration', 'English', 'Episodes', 'Favorites',
       'Genres', 'Japanese', 'Licensors', 'Members', 'Popularity', 'Premiered',
       'Producers', 'Ranked', 'Rating', 'Score', 'Source', 'Status', 'Studios',
       'Synonyms', 'Title', 'Type'],
      dtype='object')

### Convert numeric columns

In [7]:
maldf['Episodes'] = maldf['Episodes'].replace({',',''})

In [8]:
maldf['Episodes'] = maldf['Episodes'].replace('Unknown', '0')

In [9]:
maldf.Episodes = maldf.Episodes.astype('int32')

In [11]:
maldf.Episodes.describe()

count    15854.000000
mean        11.380220
std         48.439995
min          0.000000
25%          1.000000
50%          1.000000
75%         12.000000
max       3057.000000
Name: Episodes, dtype: float64

In [15]:
maldf['Members'] = maldf['Members'].str.replace(',','').astype('int64')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [13]:
maldf['Favorites'] = maldf['Favorites'].str.replace(',','').astype('int64')

In [18]:
maldf.Members.head()

key
1    864330
5    211101
6    434992
7     82627
8     12055
Name: Members, dtype: int64

In [20]:
maldf['ScoreExtract'] = maldf.Score.str.extract('(\d+.\d+)').astype('float64')
maldf.ScoreExtract.head()

         0
key
1    8.821
5    8.411
6    8.291
7    7.321
8    7.031

In [22]:
maldf['ScoreRaters'] = maldf.Score.str.extract('(?<=by)(.*)(?=users)')
maldf['ScoreRaters'] = maldf['ScoreRaters'].str.replace(',', '').astype('int64')
maldf[['Score', 'ScoreExtract', 'ScoreRaters']].head()

,Score,ScoreExtract,ScoreRaters
key,,,
1,"8.821(scored by435,335users)1\n indicat...",8.821,435335
5,"8.411(scored by126,733users)1\n indicat...",8.411,126733
6,"8.291(scored by222,984users)1\n indicat...",8.291,222984
7,"7.321(scored by33,573users)1\n indicate...",7.321,33573
8,"7.031(scored by4,996users)1\n indicates...",7.031,4996

In [23]:
maldf.ScoreExtract.describe()

                  0
count  15559.000000
mean       6.378569
std        0.967991
min        1.001000
25%        5.741000
50%        6.411000
75%        7.061000
max        9.241000

In [61]:
maldf.dtypes

Aired            object
Broadcast        object
Duration         object
English          object
Episodes          int32
Favorites         int64
Genres           object
Japanese         object
Licensors        object
Members           int64
Popularity       object
Premiered        object
Producers        object
Ranked           object
Rating           object
Score            object
Source           object
Status           object
Studios          object
Synonyms         object
Title            object
Type             object
ScoreExtract    float64
ScoreRaters       int64
dtype: object

In [52]:
maldf['FirstAired'] = maldf['Aired'].str.findall('(\w{3} \d{1,2}, \d{4})')

In [62]:
x = maldf['FirstAired']

In [67]:
x

key
1         [Apr 3, 1998, Apr 24, 1999]
5                       [Sep 1, 2001]
6         [Apr 1, 1998, Sep 30, 1998]
7         [Jul 2, 2002, Dec 24, 2002]
8        [Sep 30, 2004, Sep 29, 2005]
15        [Apr 6, 2005, Mar 19, 2008]
16       [Apr 15, 2005, Sep 27, 2005]
17       [Sep 11, 2002, Sep 10, 2003]
18       [Apr 17, 2004, Feb 18, 2006]
19        [Apr 7, 2004, Sep 28, 2005]
20         [Oct 3, 2002, Feb 8, 2007]
21                     [Oct 20, 1999]
22       [Oct 10, 2001, Mar 23, 2005]
23        [Oct 6, 2004, Dec 15, 2004]
24        [Oct 5, 2004, Mar 29, 2005]
25        [Oct 6, 2004, Mar 30, 2005]
26       [Apr 17, 2003, Sep 25, 2003]
27       [Apr 29, 2005, Oct 28, 2005]
28       [Oct 12, 2004, Mar 14, 2006]
29         [Oct 8, 2004, Apr 1, 2005]
30        [Oct 4, 1995, Mar 27, 1996]
31                     [Mar 15, 1997]
32                     [Jul 19, 1997]
33         [Oct 8, 1997, Apr 1, 1998]
43                     [Nov 18, 1995]
44       [Feb 20, 1999, Sep 22, 1999]
45        [Jan 10, 1996, Sep 8, 1998]
46                     [Dec 20, 1997]
47                     [Jul 16, 1988]
48        [Apr 4, 2002, Sep 26, 2002]
                     ...
37723                  [Apr 10, 2018]
37731                              []
37734                              []
37736    [Feb 13, 2018, Mar 22, 2018]
37737    [Jul 21, 2016, Nov 24, 2016]
37769    [Jul 10, 2018, Sep 25, 2018]
37798     [Aug 9, 2002, Feb 28, 2003]
37801                  [Aug 23, 2017]
37806     [Apr 7, 2019, Jun 30, 2019]
37818                  [Mar 27, 2018]
38619                   [Jul 5, 2019]
38775                  [Nov 30, 2018]
38875                              []
39101                              []
39102                              []
39609                              []
39617                              []
39622                   [Apr 1, 2019]
39654     [Apr 2, 2019, Jun 25, 2019]
39684                   [Apr 5, 2019]
39686                              []
39706                   [Feb 3, 2019]
39707                  [Feb 20, 2017]
39792                              []
39798                  [Apr 30, 2019]
39815                  [May 11, 2019]
39819                   [Nov 1, 2019]
10889     [Mar 2, 1973, Sep 28, 1973]
37528                  [Apr 14, 2012]
37569    [Jul 12, 2018, Sep 27, 2018]
Name: FirstAired, Length: 15854, dtype: object

In [34]:
maldf[['Title', 'Aired', 'FirstAired']]

,Title,Aired,FirstAired
key,,,
1,Cowboy Bebop,"Apr 3, 1998 to Apr 24, 1999","[Apr 3, 1998, Apr 24, 1999]"
5,Cowboy Bebop: Tengoku no Tobira,"Sep 1, 2001","[Sep 1, 2001]"
6,Trigun,"Apr 1, 1998 to Sep 30, 1998","[Apr 1, 1998, Sep 30, 1998]"
7,Witch Hunter Robin,"Jul 2, 2002 to Dec 24, 2002","[Jul 2, 2002, Dec 24, 2002]"
8,Bouken Ou Beet,"Sep 30, 2004 to Sep 29, 2005","[Sep 30, 2004, Sep 29, 2005]"
15,Eyeshield 21,"Apr 6, 2005 to Mar 19, 2008","[Apr 6, 2005, Mar 19, 2008]"
16,Hachimitsu to Clover,"Apr 15, 2005 to Sep 27, 2005","[Apr 15, 2005, Sep 27, 2005]"
17,Hungry Heart: Wild Striker,"Sep 11, 2002 to Sep 10, 2003","[Sep 11, 2002, Sep 10, 2003]"
18,Initial D Fourth Stage,"Apr 17, 2004 to Feb 18, 2006","[Apr 17, 2004, Feb 18, 2006]"
19,Monster,"Apr 7, 2004 to Sep 28, 2005","[Apr 7, 2004, Sep 28, 2005]"
20,Naruto,"Oct 3, 2002 to Feb 8, 2007","[Oct 3, 2002, Feb 8, 2007]"
21,One Piece,"Oct 20, 1999 to ?","[Oct 20, 1999]"
22,Tennis no Ouji-sama,"Oct 10, 2001 to Mar 23, 2005","[Oct 10, 2001, Mar 23, 2005]"
23,Ring ni Kakero 1,"Oct 6, 2004 to Dec 15, 2004","[Oct 6, 2004, Dec 15, 2004]"
24,School Rumble,"Oct 5, 2004 to Mar 29, 2005","[Oct 5, 2004, Mar 29, 2005]"
25,Sunabouzu,"Oct 6, 2004 to Mar 30, 2005","[Oct 6, 2004, Mar 30, 2005]"
26,Texhnolyze,"Apr 17, 2003 to Sep 25, 2003","[Apr 17, 2003, Sep 25, 2003]"
27,Trinity Blood,"Apr 29, 2005 to Oct 28, 2005","[Apr 29, 2005, Oct 28, 2005]"
28,Yakitate!! Japan,"Oct 12, 2004 to Mar 14, 2006","[Oct 12, 2004, Mar 14, 2006]"
29,Zipang,"Oct 8, 2004 to Apr 1, 2005","[Oct 8, 2004, Apr 1, 2005]"
30,Neon Genesis Evangelion,"Oct 4, 1995 to Mar 27, 1996","[Oct 4, 1995, Mar 27, 1996]"
31,Neon Genesis Evangelion: Death & Rebirth,"Mar 15, 1997","[Mar 15, 1997]"
32,Neon Genesis Evangelion: The End of Evangelion,"Jul 19, 1997","[Jul 19, 1997]"
33,Kenpuu Denki Berserk,"Oct 8, 1997 to Apr 1, 1998","[Oct 8, 1997, Apr 1, 1998]"
43,Koukaku Kidoutai,"Nov 18, 1995","[Nov 18, 1995]"
44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Feb 20, 1999 to Sep 22, 1999","[Feb 20, 1999, Sep 22, 1999]"
45,Rurouni Kenshin: Meiji Kenkaku Romantan,"Jan 10, 1996 to Sep 8, 1998","[Jan 10, 1996, Sep 8, 1998]"
46,Rurouni Kenshin: Meiji Kenkaku Romantan - Ishi...,"Dec 20, 1997","[Dec 20, 1997]"
47,Akira,"Jul 16, 1988","[Jul 16, 1988]"
48,.hack//Sign,"Apr 4, 2002 to Sep 26, 2002","[Apr 4, 2002, Sep 26, 2002]"
...,...,...,...
37723,Rokudou Juku,"Apr 10, 2018","[Apr 10, 2018]"
37731,Oh Baby Plus,2003,[]
37734,Higan,2012,[]
37736,Rang Wo Men Shao Ba,"Feb 13, 2018 to Mar 22, 2018","[Feb 13, 2018, Mar 22, 2018]"
37737,Mu Wang Zhi Wang: Qi Lin Jue,"Jul 21, 2016 to Nov 24, 2016","[Jul 21, 2016, Nov 24, 2016]"
37769,Aguu: Tensai Ningyou,"Jul 10, 2018 to Sep 25, 2018","[Jul 10, 2018, Sep 25, 2018]"
37798,Chaechaepong Kimchi Pong,"Aug 9, 2002 to Feb 28, 2003","[Aug 9, 2002, Feb 28, 2003]"
37801,Gori Papa Ikka no Nougyou wa Omoshiroi,"Aug 23, 2017","[Aug 23, 2017]"
37806,Gunjou no Magmell,"Apr 7, 2019 to Jun 30, 2019","[Apr 7, 2019, Jun 30, 2019]"
37818,Osomatsu-san x Mameshiba,"Mar 27, 2018 to ?","[Mar 27, 2018]"
38619,Joshikousei no Mudazukai,"Jul 5, 2019 to ?","[Jul 5, 2019]"
38775,Rune's Pharmacy: Tiarajima no Okusuriya-san,"Nov 30, 2018 to ?","[Nov 30, 2018]"
38875,Jam Pot,1971,[]
39101,Eiyuu Densetsu: Head On! Master Senshi,Not available,[]
39102,Transformers: Choujin Master Force Soushuuhen,Not available,[]
39609,Ochikobore Fruit Tart,Not available,[]
39617,Yakusoku no Neverland 2nd Season,2020 to ?,[]
39622,Bakugan: Battle Planet,"Apr 1, 2019 to ?","[Apr 1, 2019]"
39654,Cinderella Girls Gekijou: Kayou Cinderella The...,"Apr 2, 2019 to Jun 25, 2019","[Apr 2, 2019, Jun 25, 2019]"
39684,Sayonara Freeway,"Apr 5, 2019","[Apr 5, 2019]"
39686,Mabeob Chunjamun Season 2,2015,[]
39706,Cat Step,"Feb 3, 2019","[Feb 3, 2019]"
39707,Gekiyaba∞Bokkan!!,"Feb 20, 2017","[Feb 20, 2017]"
39792,Eizouken ni wa Te wo Dasu na!,"Jan, 2020 to ?",[]
39798,Zhu Zhu Xia: Konglong Riji,"Apr 30, 2019 to ?","[Apr 30, 2019]"
39815,More feat. Anderson .Paak,"May 11, 2019","[May 11, 2019]"
39819,Bokutachi wa Benkyou ga Dekinai OVA,"Nov 1, 2019","[Nov 1, 2019]"
10889,Jungle Kurobee,"Mar 2, 1973 to Sep 28, 1973","[Mar 2, 1973, Sep 28, 1973]"
37528,Decadence: Remix,"Apr 14, 2012","[Apr 14, 2012]"
37569,Sirius,"Jul 12, 2018 to Sep 27, 2018","[Jul 12, 2018, Sep 27, 2018]"

In [88]:
maldf.Premiered.head()

key
1    Spring 1998
5            NaN
6    Spring 1998
7    Summer 2002
8      Fall 2004
Name: Premiered, dtype: object

In [45]:
maldf['Title'].head()

key
1                       Cowboy Bebop
5    Cowboy Bebop: Tengoku no Tobira
6                             Trigun
7                 Witch Hunter Robin
8                     Bouken Ou Beet
Name: Title, dtype: object

In [48]:
maldf['Title'].replace('Unknown', '0')

key
1                                             Cowboy Bebop
5                          Cowboy Bebop: Tengoku no Tobira
6                                                   Trigun
7                                       Witch Hunter Robin
8                                           Bouken Ou Beet
15                                            Eyeshield 21
16                                    Hachimitsu to Clover
17                              Hungry Heart: Wild Striker
18                                  Initial D Fourth Stage
19                                                 Monster
20                                                  Naruto
21                                               One Piece
22                                     Tennis no Ouji-sama
23                                        Ring ni Kakero 1
24                                           School Rumble
25                                               Sunabouzu
26                                              Texhnolyze
27                                           Trinity Blood
28                                        Yakitate!! Japan
29                                                  Zipang
30                                 Neon Genesis Evangelion
31                Neon Genesis Evangelion: Death & Rebirth
32          Neon Genesis Evangelion: The End of Evangelion
33                                    Kenpuu Denki Berserk
43                                        Koukaku Kidoutai
44       Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...
45                 Rurouni Kenshin: Meiji Kenkaku Romantan
46       Rurouni Kenshin: Meiji Kenkaku Romantan - Ishi...
47                                                   Akira
48                                             .hack//Sign
                               ...
37723                                         Rokudou Juku
37731                                         Oh Baby Plus
37734                                                Higan
37736                                  Rang Wo Men Shao Ba
37737                         Mu Wang Zhi Wang: Qi Lin Jue
37769                                 Aguu: Tensai Ningyou
37798                             Chaechaepong Kimchi Pong
37801               Gori Papa Ikka no Nougyou wa Omoshiroi
37806                                    Gunjou no Magmell
37818                             Osomatsu-san x Mameshiba
38619                             Joshikousei no Mudazukai
38775          Rune's Pharmacy: Tiarajima no Okusuriya-san
38875                                              Jam Pot
39101               Eiyuu Densetsu: Head On! Master Senshi
39102        Transformers: Choujin Master Force Soushuuhen
39609                                Ochikobore Fruit Tart
39617                     Yakusoku no Neverland 2nd Season
39622                               Bakugan: Battle Planet
39654    Cinderella Girls Gekijou: Kayou Cinderella The...
39684                                     Sayonara Freeway
39686                            Mabeob Chunjamun Season 2
39706                                             Cat Step
39707                                    Gekiyaba∞Bokkan!!
39792                        Eizouken ni wa Te wo Dasu na!
39798                           Zhu Zhu Xia: Konglong Riji
39815                            More feat. Anderson .Paak
39819                  Bokutachi wa Benkyou ga Dekinai OVA
10889                                       Jungle Kurobee
37528                                     Decadence: Remix
37569                                               Sirius
Name: Title, Length: 15854, dtype: object